.surveyContainer {
  margin: 0px 65px 0px 60px;
}

.percentageContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.percentage {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.green {
  color: #7ed321;
}

.red {
  color: #dd4b42;
}

.percentageSign {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.6px;
  margin-bottom: 9px;
  margin-left: 4px;
}

.value {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-top: 10px;
}
.valueLeft {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-top: 10px;
  margin-left: 38px;
}
